@font-face {
    font-family: anjoman;
    src: url('/font/Anjoman-Regular.woff2');
  }
@font-face {
    font-family: "anjoman num";
    src: url('/font/Anjoman-FaNum-Regular.woff2');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family:"anjoman num", anjoman  ;
  }
body{
    background-color: #6675bb1a;
}
  .container{
    max-width: 1200px;
    margin: 8% auto;
    display: flex;
    justify-content: center;
   
  }

  #infoBox , #result{
   margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 400px;

  }
  #infoBox h1 {
    margin-bottom: 15px;
    padding: 20px;
    font-size: 28px;
    background-color: rgb(102, 117, 187);
    color: #fff;
  }
  #carInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 2px solid #000;
  }
  #carInfo *{
    margin: 5px;
  }
  #Insurance-selection{
    padding: 15px;
  }
  #Insurance-selection *{
    margin: 10px 5px;
  }
  button{
    border: none;
    outline: none;
    background-color: rgb(102, 117, 187);
    color: #fff;
    padding: 8px ;
    cursor: pointer;
  }
  button:hover{
    border-radius: 3px;
    border: 2px solid rgb(102, 117, 187);
    background-color: #fff;
    color: rgb(102, 117, 187);
  }

  #result{
    display: none;

    padding: 30px;
  }
  h2{
    font-size: 20px;
  }
  option{
    width: max-content;
  }
 
  .error {
    color: #ff0000;
    border:2px solid #ffd5d5fa;
    text-align: center;
    padding: 10px;
    background-image: url('img/error.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;    
  }
 